@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
}
body {
	font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oleo Script Swash Caps', cursive;
}
a {
	outline: none !important;
}


/*--------------------------------------------------------------
#Nav-Hero Section
--------------------------------------------------------------*/

.navbar-brand {
	font-family: 'Oleo Script Swash Caps', cursive;
	color: #ffffff;
	font-size: 26px;
}
.navbar-brand:hover {
	color: #EB233C;
}
.navbar-toggle {
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: RGBA(0, 0, 0, 0.48);
}
.Nav_bg {
	background-attachment: fixed;
	background-color: #645862;
	background-image: url(../images/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: default;
	text-align: center;
	width: 100%;
	float: left;
}
.bg-overlay {
	padding: 280px 0 220px;
	background-color: RGBA(15, 5, 20, 0.84);
}
.Nav_bg-text h2 {
	font-size: 50px;
}
.Nav_bg-text h2 span {
	color: #EB233C;
}
.Nav_bg-text p {
	font-size: 15px;
}
.Nav_bg-button {
	border: rgba(204, 204, 204, 0.18) 1px solid;
	padding: 12px 35px;
	color: #ccc;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	margin-top: 50px;
}
.Nav_bg-button:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
}
.my_nav {
	transition: all 0.8s ease-in;
	background: rgb(68, 51, 68) none repeat scroll 0% 0%;
}
.my_nav li a {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.nav > li > a:focus, .nav > li > a {
	color: #E1DBDB;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	background-color: #665566;
	color: #fff;
	border-bottom: 2px solid #EB233C;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 13px;
}



/*--------------------------------------------------------------
#Login Modal
--------------------------------------------------------------*/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.6em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 13px;
  word-spacing: 2px; 
}
.login-help a{
  color: black;
}




/*--------------------------------------------------------------
#blog
--------------------------------------------------------------*/

.blog {
	padding: 50px 0;
	background-color: rgba(235, 213, 235, 0.26);
	float: left;
	width: 100%;
}
.blog-item {
	margin-bottom: 30px;
	position: relative;
 
}
.img-blog {
	margin: 0 auto;
	  display: block;
  width: 100%;
  height: auto;
}
.img-blog:hover {
	opacity: 0.8;
}
.blog h3 {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.view-more {
	padding: 12px 35px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 20px;
}
.view-more:hover {
	text-decoration: none;
	color: #ffffff;
}
.blog-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffc387;
}
.blog-item:hover .blog-text {
  opacity: 0.9;
}

.blog .blog-item .text1 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



/*--------------------------------------------------------------
#About
--------------------------------------------------------------*//
.about {
	padding: 50px 0;
	background-color: rgba(235, 213, 235, 0.26);
	float: left;
	width: 100%;
}
.about h3 {
	margin-top: 50px;
	margin-bottom: 40px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.about-text p {
	font-size: 15px;
	font-weight: 300;
}




/*--------------------------------------------------------------
#contact
--------------------------------------------------------------*/
.contact {
	background-color: rgba(204, 204, 204, 0.15);
	padding: 50px 0px;
	float: left;
	width: 100%;
}
.contact h3 {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.contact-form {
	margin-top: 45px;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #242424;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	border-bottom: 2px solid #EB233C;
	resize: none;
	margin-top: 25px;
}
.form-control:hover, .form-control:focus {
	box-shadow: none;
	border-bottom: 2px solid #242424;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #242424 !important;
}
 input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
color: #242424 !important;
}
 input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
color: #242424 !important;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #242424 !important;
}
.contact-button {
	border: none;
	padding: 12px 35px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 30px;
}
.address {
	color: #242424;
	margin-top: 70px;
}
.address h4 {
	color: #EB233C;
	font-size: 22px;
}
.address p {
	font-size: 16px;
	font-weight: 500;
}
.email i {
	color: #EB233C;
	padding-right: 10px;
	font-weight: 400;
	font-size: 16px;
}
.email {
	padding-top: 15px;
}


@media (min-width:0px) and (max-width: 600px) {
.bg-overlay {
	padding: 180px 0 120px;
}
.banner-text h2 {
	font-size: 35px;
}
nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	border-bottom: none;
	
}
.features, .about, .portfolio, .contact, .testimonials {
	padding: 50px 0px;
}
}

/*--------------------------------------------------------------
#contact
--------------------------------------------------------------*/

footer {
	padding: 25px 0;
	text-align: center;
	width: 100%;
	float: left;
}
footer span.copyright {
	line-height: 40px;
	text-transform: none;
}
footer ul.quicklinks {
	margin-bottom: 0px;
}
footer ul.quicklinks a {
	color: #EB233C;
	line-height: 40px;
	text-decoration: none;
}
ul.social-buttons {
	margin-bottom: 0;
}
ul.social-buttons li a {
	background-color: black;
	border-radius: 100%;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	outline: 0 none;
	transition: all 0.3s ease 0s;
	width: 40px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	background-color: #23a0eb;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0 none;
}